/* Import Bootstrap for Sass */
@import "~bootstrap/scss/bootstrap";

body {
  --img-url: url('/assets/media/images/overview-box.jpg');
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  // color: #FFF;
  background: rgb(31,35,60);
background: -moz-linear-gradient(top,  rgba(31,35,60,1) 0%, rgba(67,71,147,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(31,35,60,1)), color-stop(100%,rgba(67,71,147,1)));
background: -webkit-linear-gradient(top,  rgba(31,35,60,1) 0%,rgba(67,71,147,1) 100%);
background: -o-linear-gradient(top,  rgba(31,35,60,1) 0%,rgba(67,71,147,1) 100%);
background: -ms-linear-gradient(top,  rgba(31,35,60,1) 0%,rgba(67,71,147,1) 100%);
background: linear-gradient(to bottom,  rgba(31,35,60,1) 0%,#834393 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f233c', endColorstr='#434793',GradientType=0 );
}

.header-body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 90vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.form-login {
  background-color: rgba(255,255,255,0.83);
  border-radius: 10px;
  // backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}

.login-text {
  margin-bottom: 26px;
  font-size: 32px;
  font-weight: bold;
}

.input-section {
  padding: 14px;
  font-weight: bold;
}
//ex:meal.js
.info-section-text {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #023e7d;
}
.info-section-title {
  padding-top: 12px;
  color: #002855;
  font-weight: bold;
  font-size: 36px;
  border-bottom: #240046 1px dashed;
}


.Signup-form {
  margin-top: 32px;
  margin-bottom: 62px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 20px 35px;
}

.container-margins {
  margin-bottom: 100px;
  margin-top: 50px;
}

.registeration{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}
/* Workouts.jsx */

.query-suggestions {
  cursor: pointer;
  border: 1px solid #b8c0ff; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #e7c6ff; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

.query-suggestions:hover {
  cursor: pointer;
  border: 1px solid #b8c0ff;
  margin-top: -1px;
  background-color: #ffd6ff;
  padding: 12px;
  text-decoration: none;
  font-size: 24px;
  color: rgb(0, 0, 0);
  display: block;
}

.query-selected {
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.666);

}


.query-border-empty {
  margin: 0 auto;
  padding:4px;
  width: 100%;
  height: 210px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:center;
  font-weight: bold;
  display: block;
}

.query-border {
  margin: 0 auto;
  padding:4px;
  width: 100%;
  height: 210px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:center;
  font-weight: bold;
  display: block;
}

.footer {
  color: aliceblue;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  line-height: 60px;
  padding: 30px 0;
  border-top: 2px solid #435DB5;
  background: radial-gradient(ellipse at bottom, #292D61 30%, #171941 80%);
}

.queryselectionview {
  height: 200px !important;
}

.couch-potato {
  text-decoration: line-through;
}

.fit-potato {
  color: red;
}

.app-header {
    background-color: rgba(255,255,255,0.83);
    border-radius: 10px;
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.app-header-bar {
  border-radius: 20px 50px;
  background: #1b263b;
  color: white;
  height: 32px;
  text-align: center;
  padding: 0 40px 0 20px;
  font-size: 20px;

}

.header-bar-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 102px;
  font-weight: bold;
}

.app-section-top {
  background-color: rgba(255,255,255,0.83);
  border: 2px solid rgba(255,255,255,0.1);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  margin-bottom: 1px;
  z-index: 10;
}

.app-section {
  background-color: rgba(255,255,255,0.83);
  border: 2px solid rgba(255,255,255,0.1);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  margin-bottom: 32px;
}

.app-section-summary {
  background-color: rgba(255,255,255,0.83);
  border: 2px solid rgba(255,255,255,0.1);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  margin-top: 32px;
}

.item-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  color: #001f54;
}

item-display-title {
  color: #ff9505 !important;
}


.post-attached {
  position: absolute;
  margin-top: -50px;
  margin-left: 20px;
  width: 100px;
}

.attached-fixed {
  position: relative;
}

.circle-heading {
  color: white;
}

.circle-heading-workout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  color: white;
}

.circle-heading-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  margin: auto;
}

// .circle-heading-text:first-child {
//   margin-top: 42px;
// }

.info-text {
  font-weight: bold;
  font-size: 28px !important;
}

.font-bold {
  font-weight: bold;
}

.data-info {
  color: #820000;
}

.food-items {
  padding-left: 46px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #001f54;
  }
  
.food-items:first-child {
  padding-top: 32px;
  }

  .food-items:last-child {
    border-bottom: none;
    padding-bottom: 16px;
  }

  .exercise-items {
    padding-left: 46px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #7A4495;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    
    }

  .numeric-input {
    margin-top: 5px;
    width: 30%;
  }


  .background-img {
  color: white;
  background-image: url("/assets/media/images/overview-box.jpg");
  }

  .calendar-header {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

// Animated Text

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #240046 0%,
    #5a189a 29%,
    #7b2cbf 67%,
    #9d4edd 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

// day-picker styles
.react-datepicker__day--today {
  background-color: #48bfe3 !important;
}
.react-datepicker__day--selected {
  background-color: #00b4d8 !important;
}

.react-datepicker__day--keyboard-selected:hover {
  background-color: #00b4d8 !important;
}

// headSHot styles
.headshot {
	flex-shrink: 0;
	margin: 30px;
	height: calc(96px + 6vw);
	width: calc(96px + 6vw);
	border: calc(8px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.headshot-1 {
	border-radius: 30%;
	background-image: var(--img-url), linear-gradient(#f9f047, #0fd850);
}

.headshot-2 {
	border-radius: 50%;
	background-image: var(--img-url), linear-gradient(to bottom right, #ff3cac, #562b7c, #2b86c5);
}

.headshot-3 {
	border-radius: 50% 10%;
	background-image: var(--img-url), linear-gradient(to bottom left, #f83600, #f9d423);
}

