form{
        // height: 520px;
        // width: 400px;
        background-color: rgba(255,255,255,0.13);
        // transform: translate(-50%,-50%);
        // top: 50%;
        // right: 10%;
        border-radius: 10px;
        // backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 50px 35px;
}

.registeration{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}